<div class="games-show">
  <h1>
    <%= @game.name %>
    <%= link_to 'Back', games_path, class: "btn btn-primary" %>
  </h1>

  <div class="players-dashboard row">
    <%= render partial: "games/show/player_dashboard", locals: { player: @game.players.first } %>
    <%= render partial: "games/show/player_dashboard", locals: { player: @game.players.last } %>
  </div>
</div>
